<% content_for(:page_header) {"로그인"} %>

<%= bootstrap_form_tag url: '/login' do |f| %>
    <%= f.label :name, '웃대닉네임' %>
    <%= f.text_field :name, hide_label: true %>
    <%= f.label :password, '비밀번호' %>
    <%= f.password_field :password, hide_label: true %>
  <a href="/signup" >회원등록이 안 되어있으신가요?</a><br/>
    <%= f.submit "로그인" %>
<% end %>
