

  <div class="form-group">
    <%= content_tag(:label) do %>
      <% unless current_user.voted_for?(@poll) %>
        <%= image_tag(option.image, height: '48', width: '48') %>
        <%= radio_button_tag 'vote_option[id]', option.id, class: "form-check" %>
      <% end %>
      <%= option.title %>
    <% end %>
    <% if current_user.voted_for?(@poll) %>
    <%= visualize_votes_for option %>
    <% end %>
  </div>
