
  <%= form_tag votes_path, method: :post, remote: true, id: 'voting_form' do %>
    <%= hidden_field_tag 'poll[id]', @poll.id %>
    <%= render partial: 'polls/vote_option', collection: @poll.vote_options, as: :option %>

    <p><b>총 투표 수 : <%= @poll.votes_summary %></b></p>
    <p><b>제한 시간 : <%= @poll.close_time.strftime("%m월 %d일 %H시 %M분 까지") %></b></p>

    <% if current_user.voted_for?(@poll) %>
      <p>이미 투표에 참여했습니다!</p>
    <% else %>
      <%= submit_tag '투표', class: 'btn btn-lg btn-primary' %>
    <% end %>
  <% end %>


