
<div class="jumbotron">
  <h1 class="display-3">만게 투표</h1>
  <p class="lead"><strong>진행 중인 이벤트 : </strong><span style = "color: #007bff"> 테스트 중 </span></p>
</div>


<% @polls.each do |poll| %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= poll.topic %> <span class="badge badge-pill badge-primary">투표 수: <%= poll.votes_summary %></span></h4>

      <p>
        <% if current_user && !@user_setting.is_ban %>
          <%= link_to '참여!', poll_path(poll), class: 'btn btn-primary' %>
        <% elsif current_user && @user_setting.is_ban %>
          당신은 중복 계정 생성이 의심되어 밴 처리가 되었습니다. 자세한 사항은 '이즈미남편'에게 쪽지로 문의하세요.
        <% else %>
          <%= link_to '여기', '/login' %>에 로그인을 하시거나, 회원등록이 되어있지 않으시다면 <%= link_to '여기', '/signup' %>에서 회원등록을 하세요.
        <% end %>
      </p>

      <% if current_user %>
        <% if @user_setting.is_admin %>
          <%= link_to '수정', edit_poll_path(poll), class: 'card-link' %>
          <%= link_to '삭제', poll_path(poll),
                      method: :delete,
                      class: 'card-link', style: "color: red", data: {confirm: '정말로 제거하겠습니까?'} %>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>

<div style="margin-top: 100px;">
  <% if current_user %>
    <%= link_to "<" + current_user.name + ">으로 로그인되었습니다.", user_path(current_user), class: "btn btn-primary btn-lg btn-block" , id: "muser"%>
  <% else %>
    <a href="/login" class="btn btn-primary btn-lg btn-block" id = "mlogin" role="button" aria-pressed="true">(모바일 전용)로그인</a>
  <% end %>
</div>


