<% content_for(:page_header) {"투표 이력"} %>
<p>[테스트용] 현재 접속 ip = <%= @remote_ip %></p>
<% @user.each do |u| %>
<h3><%= u.name %></h3>
<% u.vote_options.each do |option| %>
<p><%= option.poll.topic %></p>
<% end %>
<% end %>